* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 856px;
    margin: 0 auto;
}

.hero {
    background-color: #00BDC9;
    text-align: center;
}

.picture {

    padding-block: 90px;
    
}

.article {
    text-decoration: none;
    /* text-align: center;
     */

    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px;
    text-align: left;

    margin-top: 20px;

}

.menu {
    padding-block: 25px;
}

.menu-list {
    width: 635px;
    
  
}

.list-item {
    display: inline-block;
    margin-right: 72px;

}

/* .no-margin {
    margin-right: 0;
} */

/* .picture {
    background-image: url(/images/Frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
} */

.title {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    
    padding-top: 88px;
    
}

.text-down {
    padding-top: 40px
}
   

.btn {
    color: white;
    background-color: #00BDC9;
    border: 1px solid #00BDC9;
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 15px;
}


.page__bottom {
    text-align: center;
    /* width: 856px;
    margin: 0 auto;
    height: 35px; */
    margin-block: 25px;
}

.line {
    margin: 25px 0;
}
.divider {
    color: black;
    width: 100%;
    height: 1px;
    background-color: rgb(40, 37, 37);

    margin: 0 auto;
}

.primary_color {
    color: #00BDC9;  
}
